.flex-container{
  border:1px solid ;
  margin:55px auto;
  background-color:rgb(9, 142, 97);
  display: flex;
  flex-wrap: wrap;
}
.flex-box{
  background-color:white;
  margin:11px 10px;
}
.input-box{
  display: flex;
}
p{
  margin-left: 58px;
}
.input-box{
  margin-left: 58px;
}
.input-flex-box{
  display: flex;
}
.add-box{
  margin-left: 46px;
}